<a href="https://colab.research.google.com/github/jitendra986/OOP_Python/blob/main/pass_by_reference.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Customer:

  def __init__(self, name, gender):
    self.name = name
    self.gender = gender

def greet(customer):
  if customer.gender=="Male":
    print("Hello", customer.name,"Sir")
  else:
    print("Hello", customer.name,"ma'am")
#cust =Customer("Jitendra",'Male')
cust =Customer("Ankita",'Female')
#print(cust.name)

greet(cust)

Hello Ankita ma'am

In [ ]:
class Customer:

  def __init__(self, name, gender):
    self.name = name
    self.gender = gender

def greet(customer):
  if customer.gender=="Male":
    print("Hello", customer.name,"Sir")
  else:
    print("Hello", customer.name,"ma'am")

  cust2 =Customer("Nitish",'Male')

  return cust2

cust =Customer("Ankita",'Female')
new_cust = greet(cust)
print(new_cust.name)

Hello Ankita ma'am
Nitish

In [ ]:
class Customer:

  def __init__(self, name):
    self.name = name
    #self.gender = gender

def greet(customer):
  print(id(customer))

cust = Customer("Ankita")
print(id(cust))

greet(cust)

140217738425920
140217738425920

In [ ]:
a=3
b=a
id(a)

140218032095536

In [ ]:
id(b)

140218032095536

In [ ]:
class Customer:

  def __init__(self, name):
    self.name = name


def greet(customer):
  customer.name='Nitish'
  print(customer.name)

cust = Customer("Ankita")
greet(cust)

print(cust.name)

Nitish
Nitish

In [ ]:
class Customer:

  def __init__(self, name):
    self.name = name


def greet(customer):
  print(id(customer))
  customer.name='Nitish'
  print(customer.name)
  print(id(customer))

cust = Customer("Ankita")
print(id(cust))
greet(cust)

print(cust.name)

140216761916560
140216761916560
Nitish
140216761916560
Nitish

In [ ]:
#class ke objects are mutable like lists, dict and sets

In [ ]:
def change(L):
  print(id(L))
  L.append(5)
  print(id(L))

L1=[1,2,3,4]
print(id(L1))
print(L1)

change(L1[:])# this technique will change the address of object.
# If you do not mention the start or end parameter, they are set to none. The technique is considered the fastest for copying list items.--> L1[:]
print(L1)

140216760791360
[1, 2, 3, 4]
140216760814848
140216760814848
[1, 2, 3, 4]

In [ ]:
def change(L):
  print(id(L))
  L = L+ (5,6)
  print(id(L))

L1=(1,2,3,4)
print(id(L1))
print(L1)

change(L1)# this technique will not change the address of object because L1 is a tuple which is a immutable data type

print(L1)

140216760135376
(1, 2, 3, 4)
140216760135376
140216760056704
(1, 2, 3, 4)

In [ ]:
class Customer:

  def __init__(self, name,age):
    self.name = name
    self.age = age


c1 = Customer("Nitish", 34)
c2 = Customer("Ankit", 45)
c3 = Customer("Neha", 32)

L = [c1,c2,c3]

for i in L:
  print(i.name, i.age)

Nitish 34
Ankit 45
Neha 32

In [ ]:
class Customer:

  def __init__(self, name,age):
    self.name = name
    self.age = age

  def intro(self):
    print("I am", self.name, "and I am", self.age)

c1 = Customer("Nitish", 34)
c2 = Customer("Ankit", 45)
c3 = Customer("Neha", 32)

L = [c1,c2,c3]

for i in L:
  i.intro()

I am Nitish and I am 34
I am Ankit and I am 45
I am Neha and I am 32